* {
    box-sizing: border-box;
}

header h1 {
    padding: 10px;
}

.form-control {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.btn-block+.btn-block {
    margin-top: 0rem;
}

.list-group-item {
    border: none;
}

.favorable {
    padding: 2px;
    background-color: green;
    color: white;
    border-radius: 10%;
}

.moderate {
    padding: 2px;
    background-color: yellow;
    border-radius: 10%;
}

.severe {
    padding: 2px;
    background-color: red;
    color: white;
    border-radius: 10%;
}