* {
    box-sizing: border-box;
}

header h1 {
    padding: 10px;
}

.form-control {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.btn-block+.btn-block {
    margin-top: 0rem;
}